<script type="text/x-template" id="transaction-list">
    <div class="col-6 mt-2">
        <table class="table table-condensed bg-white table-borderless shadow-sm">              
            <thead>
                <tr>                           
                    <th scope="col"  class="w-15">Name</th>                           
                    <th scope="col"  class="w-50">Category</th>                
                    <th scope="col"  class="w-15">$ CAD</th>     
                    <th scope="col" class="w-15">#</th>                                            
                </tr>
            </thead>
            <tbody v-for="(item, index) in transactions">
                <tr class="border" v-bind:class="item.class">                     
                    <td class="pl-4">
                        {{ '{{item.trans_cat_subname}}' }}                             
                    </td>                                   
                    <td>{{ '{{item.trans_cat_name }}' }} </td>
                    <td>${{ '{{item.trans_ammount}}' }} </td>
                    <td>
                        <a href="#" v-on:click.stop="delOneShow(item.id, item.project_name)">
                            <i class="far fa-trash-alt btn-sm text-dark align-middle float-right"
                                data-toggle="tooltip" data-placement="top" title="remove expence point"></i>
                        </a>
                            <a href="#" v-on:click="editShow(index)">
                            <i class="fa fa-edit btn-sm text-warning align-middle pr-0 float-right"
                                data-toggle="tooltip" data-placement="top" title="edit expence point"></i>
                        </a>
                    </td>
                </tr>    
                <tr v-if="item.is_edit == true">
                    <td colspan="4">
                            <div class="input-group">
                            <input type="hidden" v-model="project_item_edit.id" />
                            <input type="text" class="form-control col-6" placeholder="Project name" aria-label="Project name" aria-describedby="button-addon4" v-model="project_item_edit.project_name" required>
                            <input type="text" class="form-control col-2" placeholder="Projected expence" aria-label="Projected expence" aria-describedby="button-addon4" v-model="project_item_edit.project_price" required>
                            <input type="text" class="form-control col-2" placeholder="Actual expence" aria-label="Actual expence" aria-describedby="button-addon4" v-model="project_item_edit.project_price_actual" required>
                            <input type="date" class="form-control col-2" placeholder="date yyyy-mm-dd" aria-label="Start date" aria-describedby="button-addon4" v-model="project_item_edit.created_at">
                            <div class="input-group-append" id="button-addon4">     
                                <a href="#" class="btn btn-warning" v-on:click="editCancel(index)">
                                    <i class="fas fa-times-circle text-small mr-1"></i>
                                    Cancel           
                                </a>                  
                                <a href="#" class="btn btn-success" v-on:click="editOne()">
                                    <i class="fas fa-check btn-sm text-white pl-0" title="Save item update"></i>
                                    Save           
                                </a>                       
                            </div>
                        </div>
                    </td>
                </tr>                       
            </tbody>
        </table>
    </div>  
</script>