{% extends "Shared/_layout.twig" %}

{% block title %} Transactions {% endblock %}

{% block header_scripts %}
    <link href="/assets/components/toastr/toastr.min.css"  rel="stylesheet">
 {% endblock %}

{% block body %}
    
<!-- side nav menu -->
{# {% include 'Bookkeeping/_sidenav.twig' %} #}
{{ include('Bookkeeping/_sidenav.twig') }}

<!-- page content -->
<div class="container-fluid" id="transactions" v-cloak>
    
    <!-- csrf protection -->
    <input type="hidden" name="csrf" id="csrf" value="{{ csrf }}">

    <!-- page name and date selection -->
    <div class="row mb-2 pt-4">
        <div class="col-8 border-bottom">
            <h1 class="text-dark mb-4">Accounting Records</h1>        
        </div>    

        <!-- date selection -->
        <div class="col-2 border-bottom p-1">        
            <div class="input-group">                                       
                <input type="date" class="form-control" placeholder="date yyyy-mm-dd" aria-label="Start date" aria-describedby="button-addon4" v-model="start_date" v-on:change="onYearChange()">                   
            </div>               
        </div>           
        <div class="col-2 border-bottom p-1">        
            <div class="input-group">                                       
                <input type="date" class="form-control" placeholder="date yyyy-mm-dd" aria-label="End date" aria-describedby="button-addon4" v-model="end_date" v-on:change="onYearChange()">                   
            </div>               
        </div>           
    </div>             

    <!-- transaction totals -->
    <div class="row" v-if="transactions.length > 0"> 
        <div class="col-12">         
            <h3 class="mt-3">Transaction Totals</h3>
        </div>
        
        <!-- Transaction totals -->
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Exprences Total</strong> </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Income Total</strong> </li>                         
            </ul>
        </div>       
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Feed Expences</strong> </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Cattle Purchace Expences</strong></li>              
            </ul>
        </div>     
            <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Veterinary </strong> </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Other</strong></li>              
            </ul>
        </div>       
    </div>
   

    <!-- header and search form inputs -->
    <div class="row mt-3"></div>    
    <div class="row g-0 mt-5">
        <div class="col-3">
             <h3>Transactions
                <a href="#" v-on:click="setAction('new')">
                    <i class="far fa-plus-square btn-sm text-success align-middle"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Add transaction"></i>
                </a>                 
            </h3>
        </div>
        <div class="form-check form-switch col-2 d-flex justify-content-end pe-3" v-if="action=='' && action_item==false && transactions.length > 0">
            <input class="form-check-input me-1" type="checkbox" id="vendor"  v-model="is_vendor">
            <label class="form-check-label" for="vendor">
                Display vendors
            </label>
        </div>
        <!-- transaction category and other search parameters -->
        <div class="col-1" v-if="action=='' && action_item==false && transactions.length > 0">
            <select class="form-select w-100 rounded-0 form-select-sm" aria-label="Select group" v-model="transaction_category_selected" v-on:change="categoryChanged()">
                <option v-for="item in transaction_category" v-bind:value="item.id">
                    {{ '{{ item.category_name }}' }}
                </option>            
            </select>
        </div>
        <div class="col-1" v-if="action=='' && action_item==false && transactions.length > 0">
            <select class="form-select w-100 rounded-0 form-select-sm" aria-label="Select sub group" v-bind:disabled="transaction_sub_category_disabled">
                <option v-for="item in transaction_sub_category" v-bind:value="item.id">
                    {{ '{{ item.category_name }}' }}
                </option>            
            </select>
        </div>
        <div class="col-2 pe-2" v-if="action=='' && action_item==false && transactions.length > 0">
            <div class="has-search rounded-0 w-100">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control w-100 form-control-sm rounded-0"  placeholder="Search" v-model="search_term" v-on:keyup="goSearch()">
            </div>
        </div>       
    </div>


    <!-- NEW TRANSACTION FORM FOR MAIN TRANSACTION RECORD / OLD FORM -->
    {# <div class="row ms-1" v-if="action=='new' || action=='edit'">
        <div class="col-2 px-0">
            <input type="text" class="form-control mx-0" placeholder="Vendor" aria-label="Vendor" v-model="transaction_record.trans_name" required>
        </div>
        <div class="col-2 px-0">
            <input type="text" class="form-control mx-0" placeholder="Vendor" list="vendors" v-model="transaction_record.trans_name" required>
            <datalist id="vendors">
                <option value="AL">Nortern Feed Supply</option>
                <option value="AK">General Railside Store</option>                 
            </datalist>
        </div>
        <div class="col-3 px-0">
            <input type="text" class="form-control mx-0" placeholder="Description" aria-label="Name" v-model="transaction_record.trans_desc" required>
        </div>       
        <div class="col-1 px-0">
            <input class="form-control mx-0" type="date" aria-label="Start date" v-model="transaction_record.trans_date">
        </div>
        <div class="col-2 px-0">
            <button class="btn btn-warning rounded-0" type="button" v-on:click="setAction('')">
                <i class="fas fa-times-circle text-small mr-1"></i>
                Cancel           
            </button>                  
            <button class="btn btn-success rounded-0" type="button" v-on:click="transactionAdd" v-if="action == 'new'">
                <i class="far fa-plus-square btn-sm text-white ps-0" title="Add starting finance point"></i>
                Save           
            </button>  
              <button class="btn btn-success rounded-0" type="button" v-on:click="transactionEdit" v-if="action=='edit'">
                <i class="far fa-plus-square btn-sm text-white ps-0" title="Add starting finance point"></i>
                Update           
            </button>                                          
        </div>
    </div>    #}
   

   <!-- alternative/NEW transaction display table -->
     <div class="row mt-2">       
        <div class="col-9">                    
            <table class="table table-sm bg-white table-borderless shadow-sm w-100">                               
                <tbody v-for="(record, index) in transactions">
                    <tr class="border" v-if="is_vendor">                     
                        <td class="ps-4 w-85" v-bind:class="record.class">
                            <div> 
                                <strong>{{ '{{record.vendor_name}}' }}</strong>
                                <small class="fw-light ms-3">{{ '{{record.trans_read_date}}' }}</small>
                            </div>                         
                        </td>                                                                              
                        <td class="pt-1 w-15">   
                             <a href="#" v-on:click="showTransactionItemForm(true, record.id)" v-if="action==''">
                                <i class="far fa-plus-square btn-sm text-success align-middle"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Add transaction item"></i>
                            </a>                                    
                            <a href="#" v-on:click.prevent="delTransactionShow(record.id, record.vendor_name)">
                                <i class="far fa-trash-alt btn-sm text-danger align-middle float-right" 
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Remove transaction"></i>
                            </a>
                                <a href="#" v-on:click="showEditForm(index)">
                                <i class="fa fa-edit btn-sm text-warning align-middle pe-0 float-right"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Edit transaction"></i>
                            </a>
                             <a href="#">
                                <i class="fa fa-upload btn-sm text-secondary pe-0 float-right" data-bs-toggle="tooltip" data-bs-placement="top" title="upload transaction image" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i data-bs-toggle="tooltip" data-bs-placement="top" title="View transaction" class="far fa-eye text-small text-info float-right ms-2"></i>
                            </a>                           
                        </td>
                    </tr>    
                    <tr class="border-0">
                        <td colspan="2">
                            <ul class="list-group list-group-flush col-12 me-1" v-bind:class="{ 'ps-5' : is_vendor == true }">
                                <li class="list-group-item d-flex justify-content-between align-items-start small border-0 py-0" v-for="item in record.items">                                    
                                    <div class="col-2 border-bottom">
                                        <a href="#" v-on:click.prevent="delTransactionItemShow(item.id, item.item_name)">
                                            <i class="far fa-trash-alt btn-sm text-danger align-middle float-right" 
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Remove transaction item"></i>
                                        </a>
                                        {{ '{{ item.item_name }}' }}  
                                    </div>
                                    <div class="col-4">
                                        <span class="badge bg-primary ms-5">{{ '{{ item.item_category }}' }}</span> /
                                        <span class="badge bg-success ms-1">{{ '{{ item.item_subcategory }}' }}</span>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end align-items-end">
                                        <span v-if="item.gst_tax > 0"><u>{{ '{{ "GST $" +  item.gst_tax }}' }}</u></span>
                                        <span class="ms-2" v-if="item.hst_tax > 0"><u>{{ '{{ "HST $" +  item.hst_tax }}' }}</u></span>
                                        <span class="ms-2" v-if="item.pst_tax > 0"><u>{{ '{{ "PST $" +  item.pst_tax }}' }}</u></span>
                                        <span class="ms-5">{{ '{{ item.currency }}' }} {{ '{{ item.amount }}' }}</span>
                                    </div>                                   
                                </li>                             
                            </ul>                                                    
                        </td>
                    </tr>                  
                </tbody>
            </table>

            <!-- pagination for records -->
             <nav aria-label="transaction pagination" v-if="transactions.length > 0">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled text-dark">
                        <a class="page-link text-secondary" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                    <li class="page-item bg-dark">
                        <a class="page-link text-white bg-dark text-bold" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link text-dark" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <!-- transaction record form/ new or edit -->
        <div class="col-3 mt-0" v-if="action=='new' || action=='edit'">
            <div class="card col-12 bg-dark text-white rounded shadow-sm">
                <h5 class="mt-3 mb-1 ms-3">
                    <span v-if="action=='new'">New</span>
                    <span v-if="action=='edit'">Edit</span>
                    Transaction
                </h5>
                <hr class="bg-secondary" />
                <form class="mt-0 mb-3 mx-3"> 
                    <div class="row">                 
                        <div class="col">
                            <label for="trans_name">Vendor </label><small class="text-danger float-end"> (required *)</small>
                            <input type="text" class="form-control bg-secondary text-white border-dark" list="vendors" v-model="transaction_record.vendor_name" required>
                            <datalist id="vendors">
                                <option v-bind:value="vendor.vendor_name" v-for="vendor in vendors">{{ '{{ vendor.vendor_address }}' }}</option>                                
                            </datalist>
                            <small id="trans_name_id" class="form-text text-muted float-end">50 characters max</small>
                        </div>
                    </div>
                      <div class="row">         
                        <div class="col">
                            <label for="trans_desc">Description</label>
                            <input type="text" class="form-control bg-secondary text-white border-dark" id="trans_desc" aria-describedby="trans_desc" v-model="transaction_record.trans_desc">
                            <small id="cat_desc_warrning" class="form-text text-muted float-end">250 characters max</small>
                        </div>    
                    </div>                 
                    <div class="row">         
                        <div class="col">
                            <label for="trans_date">Transaction Date</label>        
                            <input class="form-control bg-secondary text-white border-dark" type="date" placeholder="Transaction Date" placeholder="Address" aria-describedby="trans_date" v-model="transaction_record.trans_date" required>
                        </div>           
                    </div>
                    <div class="row align-content-start">                
                        <div class="col-12 ps-3 mt-4 form-check form-check-inline">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  v-model="transaction_record.trans_currency" value="C$">
                                <label class="form-check-label" for="inlineRadio1">Canadian $</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" v-model="transaction_record.trans_currency" value="$">
                                <label class="form-check-label" for="inlineRadio2">USD $</label>
                            </div>                                                        
                        </div>                      
                    </div>             
                     <hr class="bg-secondary" />
                    <div class="col mt-3 d-flex justify-content-end">                                   
                        <a href="#" class="btn btn-warning rounded-0" v-on:click="setAction('')">
                            <i class="fas fa-times-circle text-small me-1"></i>
                            Cancel           
                        </a>    
                        <a href="#" class="btn btn-success rounded-0" v-on:click="transactionEdit" v-if="action=='edit'">
                            <i class="far fa-plus-square btn-sm text-white ps-0" title="Add starting finance point"></i>
                            Update              
                        </a>                                                     
                        <a href="#" class="btn btn-success rounded-0" v-on:click="transactionAdd" v-if="action == 'new'">
                            <i class="far fa-plus-square btn-sm text-white ps-0" title="Add starting finance point"></i>
                            Save           
                        </a>               
                    </div>
                </form>
            </div> 
        </div>  

        <!-- transaction item form /new only/ items cannot be edited. Only created or removed -->
        <div class="col-3 mt-0" v-if="action_item==true">
            <div class="card col-12 bg-dark text-white rounded shadow-sm">
                <h5 class="mt-3 mb-1 ms-3">
                    New Transaction Item
                </h5>
                <hr class="bg-secondary" />
                <form class="mt-0 mb-3 mx-3">                  
                    <div class="col">
                        <label for="trans_name">Item Name </label><small class="text-danger float-end"> (required *)</small>
                         <input type="text" class="form-control bg-secondary text-white border-dark" aria-describedby="trans_name" placeholder="Name" v-model="transaction_item.item_name" required>
                        <small id="trans_name_id" class="form-text text-muted float-end">50 characters max</small>
                    </div>
                    <div class="col mt-4">
                        <label for="trans_desc">Description</label>
                        <input type="text" class="form-control bg-secondary text-white border-dark" id="trans_desc" aria-describedby="trans_desc" v-model="transaction_item.item_desc">
                        <small id="cat_desc_warrning" class="form-text text-muted float-end">250 characters max</small>
                    </div>    
                    <div class="col mt-4">
                        <label for="trans_addr_name">Category</label>                       
                        <select class="form-select w-100 rounded-0 bg-secondary text-white border-dark" aria-label="Select group" v-model="transaction_item.item_category" v-on:change="categoryItemChanged()" id="trans_category">
                            <option v-for="item in transaction_category" v-bind:value="item.category_name">
                                {{ '{{ item.category_name }}' }}
                            </option>            
                        </select>
                    </div> 
                    <div class="col mt-4">  
                        <label for="trans_address">Sub Category</label>                                
                        <select class="form-select w-100 rounded-0 bg-secondary text-white border-dark" aria-label="Select sub group" v-model="transaction_item.item_subcategory" id="trans_subcategory">
                            <option v-for="item in transaction_sub_category" v-bind:value="item.category_name">
                                {{ '{{ item.category_name }}' }}
                            </option>            
                        </select>
                    </div>     
                    <div class="row align-content-start">     
                        <div class="col-3 mt-4">
                            <label for="trans_date">Ammount $</label>        
                            <input class="form-control bg-secondary text-white border-dark col-2" type="text" placeholder="Transaction Date" placeholder="Address" aria-describedby="trans_date" v-model="transaction_item.amount" required>
                        </div>        
                        <div class="col-3 mt-4">
                            <label for="trans_date">HST</label>        
                            <input class="form-control bg-secondary text-white border-dark" type="text" placeholder="Transaction Date" placeholder="Address" aria-describedby="trans_date" v-model="transaction_item.hst_tax" required>
                        </div>             
                        <div class="col-3 mt-4">
                            <label for="trans_date">GST</label>        
                            <input class="form-control bg-secondary text-white border-dark" type="text" placeholder="Transaction Date" placeholder="Address" aria-describedby="trans_date" v-model="transaction_item.gst_tax" required>
                        </div>             
                        <div class="col-3 mt-4">
                            <label for="trans_date">PST</label>        
                            <input class="form-control bg-secondary text-white border-dark" type="text" placeholder="Transaction Date" placeholder="Address" aria-describedby="trans_date" v-model="transaction_item.pst_tax" required>
                        </div>  
                    </div>     
                    <div class="row align-content-start">
                        <div class="col-12 mt-4 ms-3 form-check col-2 pe-3">
                            {# v-on:change="expenceChange()" #}
                            <input class="form-check-input me-1" type="checkbox" id="is_expence" v-model="transaction_item.is_expence">
                            <label class="form-check-label" for="is_expence">Expence</label>
                        </div>
                    </div>                
                    {# <div class="clearfix mt-4"></div>   #}
                     <hr class="bg-secondary" />            
                    <div class="col mt-2 d-flex justify-content-end">                                   
                        <a href="#" class="btn btn-warning rounded-0" v-on:click="action_item = false">
                            <i class="fas fa-times-circle text-small me-1"></i>
                            Cancel           
                        </a>   
                        <a href="#" class="btn btn-success rounded-0" v-on:click="transactionItemAdd()">
                            <i class="far fa-plus-square btn-sm text-white ps-0" title="Add starting finance point"></i>
                            Save           
                        </a>               
                    </div>
                </form>
            </div> 
        </div>  


        <!-- Remove transaction Modal -->
        <div class="modal fade" id="deleteModalRecord" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title text-white" id="exampleModalCenterTitle">
                            <i class="fas fa-exclamation-triangle me-2"></i>
                            Remove item
                        </h5>                            
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove transaction record for <b>"{{ '{{ transaction_record.vendor_name }}' }}"</b> ?
                        <div class="alert alert-warning mt-2" role="alert">
                            <i class="fas fa-exclamation-triangle me-2"></i>
                            Please be advised removing transaction will remove all it's sub items as well including any saved photocopy.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal" v-on:click.prevent="delOneHide()">
                            <i class="fas fa-times-circle text-small me-1"></i>Cancel
                        </button>
                        <button type="button" class="btn btn-danger" v-on:click.prevent="delTransactionMain()">
                            <i class="far fa-trash-alt text-small me-1"></i>Remove</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of modal -->


        <!-- Remove transaction item Modal -->
        <div class="modal fade" id="deleteModalItem" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title text-white" id="exampleModalCenterTitle">
                            <i class="fas fa-exclamation-triangle me-2"></i>
                            Remove item
                        </h5>                            
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove transaction item named <b>"{{ '{{ transaction_item.item_name }}' }}"</b> ?
                        <div class="alert alert-warning mt-2" role="alert">
                            <i class="fas fa-exclamation-triangle me-2"></i>
                            Please be advised removing transaction item is a permament action and cannot be reversed.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal" v-on:click.prevent="delTransactionItemHide()">
                            <i class="fas fa-times-circle text-small me-1"></i>Cancel
                        </button>
                        <button type="button" class="btn btn-danger" v-on:click.prevent="delTransactionItem()">
                            <i class="far fa-trash-alt text-small me-1"></i>Remove</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of item modal -->
 
    </div>  
</div>
{% endblock %}

{% block custom_scripts %}

    <script src="/assets/components/toastr/toastr.min.js"></script>

    <script src="/assets/js/vue/accounting/transactions/index.js"></script>


     <script type="application/javascript">
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock %}