{% extends "Shared/_layout.twig" %}

{% block title %} Projects Planner {% endblock %}

{% block header_scripts %}
    <link href="/assets/components/toastr/toastr.min.css"  rel="stylesheet">
     <link href="/assets/components/chartjs/Chart.min.css"  rel="stylesheet">
 {% endblock %}

{% block body %}    

    <input type="hidden" name="csrf" id="csrf" value="{{ csrf }}">
    <div class="container h-100" id="projects" v-cloak>                
        {# <div class="row mb-2">
            <div class="col-12">
                <h2 class="text-dark">Project planner</h2>            

                 <div class="callout callout-info">
                    <i class="fas fa-info-circle fa-2x mr-2 align-middle"></i>
                    This page contains future projects planning and their financial information.
                </div>
            </div>
        </div>  #}


        <!-- start point -->
        <div class="row mt-3">
            <div class="col-12">          
                <h2 class="text-dark">Project Planner
                    <a href="#" v-if='Object.keys(starting_expence).length > 0' v-on:click="delOneShow(starting_expence.id, starting_expence.project_name)">
                        <i class="far fa-trash-alt btn-sm text-danger align-middle ml-1"
                            data-toggle="tooltip" data-placement="top" title="remove starting finance point"></i>
                    </a>
                </h2>                
            </div>
            <div class="col-12 mt-2" v-if='Object.keys(starting_expence).length > 0'>
                <table class="table bg-white table-bordered shadow-sm">              
                    <tbody>
                        <tr v-bind:class='starting_expence.class' >
                            <td scope="row" style="width:90%">{{ '{{starting_expence.project_name}}' }}</td>                                   
                            <td>{{ '{{starting_expence.project_price_formated}}' }}</td>
                        </tr>                                   
                    </tbody>
                </table>
            </div>
            <div class="col-12 mb-3" v-if='Object.keys(starting_expence).length === 0'>
                <div class="alert alert-info">Please add starting bugdet point</div>
                <div class="input-group">
                    <input type="text" class="form-control col-7" placeholder="Project name" aria-label="Project name" aria-describedby="button-addon4" v-model="project_item_new.project_name">
                    <input type="text" class="form-control col-3" placeholder="Starting budget" aria-label="Starting budget" aria-describedby="button-addon4" v-model="project_item_new.project_price">
                    <input type="date" class="form-control col-2" placeholder="date yyyy-mm-dd" aria-label="Start date" aria-describedby="button-addon4" v-model="project_item_new.created_at">
                    <div class="input-group-append" id="button-addon4">                       
                        <button class="btn btn-success" type="button" v-on:click="addNew(1)">
                            <i class="far fa-plus-square btn-sm text-white pl-0" title="Add starting finance point"></i>
                            Add           
                        </button>
                        
                    </div>
                </div>
            </div>    
        </div>   


        <!-- ongoing expences -->
        <div class="row mt-4">           
            <div class="col-6">
                <h4>Projects
                     <a href="#" v-on:click="addNewShow()">
                        <i class="far fa-plus-square btn-sm text-success ml-1 align-middle"
                           data-toggle="tooltip" data-placement="top" title="Add project"></i>
                    </a>
                </h4>
            </div>

            <div class="col-12 mb-3" v-if="project_item_new_visible == true" >               
                <div class="input-group">
                    <input type="text" class="form-control col-6" placeholder="Project name" aria-label="Project name" aria-describedby="button-addon4" v-model="project_item_new.project_name" required>
                    <input type="text" class="form-control col-2" placeholder="Projected expence" aria-label="Projected expence" aria-describedby="button-addon4" v-model="project_item_new.project_price" required>
                    <input type="text" class="form-control col-2" placeholder="Actual expence" aria-label="Actual expence" aria-describedby="button-addon4" v-model="project_item_new.project_price_actual" required>
                    <input type="date" class="form-control col-2" placeholder="date yyyy-mm-dd" aria-label="Start date" aria-describedby="button-addon4" v-model="project_item_new.created_at">
                    <div class="input-group-append" id="button-addon4">     
                         <button class="btn btn-warning" type="button" v-on:click="addNewHide()">
                             <i class="fas fa-times-circle text-small mr-1"></i>
                            Cancel           
                        </button>                  
                        <button class="btn btn-success" type="button" v-on:click="addNew(0)">
                            <i class="far fa-plus-square btn-sm text-white pl-0" title="Add starting finance point"></i>
                            Add           
                        </button>                       
                    </div>
                </div>
            </div>    

            <div class="col-12 mt-2">
                <table class="table bg-white table-borderless shadow-sm">              
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" style="width:78%">Name</th>
                            <th scope="col">Projected</th>
                            <th scope="col">Actual</th>                       
                        </tr>
                    </thead>
                    <tbody v-for="(item, index) in projects">
                        <tr class="border" v-bind:class="item.class" >
                            <td scope="row">
                                <input type="checkbox" v-model="item.checked" v-on:change.prevent="editProjectStatus(item.id, index)" />
                            </td>
                            <td>
                                {{ '{{item.project_name}}' }}
                                <a href="#" v-on:click.stop="delOneShow(item.id, item.project_name)">
                                    <i class="far fa-trash-alt btn-sm text-dark align-middle mr-1 float-right"
                                        data-toggle="tooltip" data-placement="top" title="remove expence point"></i>
                                </a>
                                 <a href="#" v-on:click="editShow(index)">
                                    <i class="fa fa-edit btn-sm text-warning align-middle ml-1 pr-0 float-right"
                                        data-toggle="tooltip" data-placement="top" title="edit expence point"></i>
                                </a>
                            </td>                                   
                            <td>{{ '{{item.project_price_formated}}' }} </td>
                            <td>{{ '{{item.project_price_actual_formated}}' }} </td>
                        </tr>    
                        <tr v-if="item.is_edit == true">
                            <td colspan="4">
                                  <div class="input-group">
                                    <input type="hidden" v-model="project_item_edit.id" />
                                    <input type="text" class="form-control col-6" placeholder="Project name" aria-label="Project name" aria-describedby="button-addon4" v-model="project_item_edit.project_name" required>
                                    <input type="text" class="form-control col-2" placeholder="Projected expence" aria-label="Projected expence" aria-describedby="button-addon4" v-model="project_item_edit.project_price" required>
                                    <input type="text" class="form-control col-2" placeholder="Actual expence" aria-label="Actual expence" aria-describedby="button-addon4" v-model="project_item_edit.project_price_actual" required>
                                    <input type="date" class="form-control col-2" placeholder="date yyyy-mm-dd" aria-label="Start date" aria-describedby="button-addon4" v-model="project_item_edit.created_at">
                                    <div class="input-group-append" id="button-addon4">     
                                        <a href="#" class="btn btn-warning" v-on:click="editCancel(index)">
                                            <i class="fas fa-times-circle text-small mr-1"></i>
                                            Cancel           
                                        </a>                  
                                        <a href="#" class="btn btn-success" v-on:click="editOne()">
                                            <i class="fas fa-check btn-sm text-white pl-0" title="Save item update"></i>
                                            Save           
                                        </a>                       
                                    </div>
                                </div>
                            </td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
                   
        </div>     

        <!-- Charts -->       
        <div class="row mt-3" v-show="chart_data.length > 0">         
            <div class="col">
                <canvas id="canvas_line" class="shadow-sm"  style="background-color:white"></canvas>               
            </div>                   
        </div>    

        
        <!-- final result -->
        <div class="row mt-3">
              <div class="col-6" >
                <!-- small box -->
                <div class="small-box bg-info rounded text-white">
                    <div class="inner">
                        <h3 class="pt-3 text-center">{{ '{{projects_total.predicted_expences_formated}}' }}</h3>

                        <p class="pb-3 text-center text-uppercase">Total projected</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>            
                </div>
            </div>
            
            <div class="col-6">
                <!-- small box -->
                <div class="small-box bg-success rounded text-white">
                <div class="inner">
                    <h3 class="pt-3 text-center">{{ '{{projects_total.actual_expences_formated}}' }}</h3>

                    <p class=" text-center pb-3 text-uppercase">Total actual</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>            
                </div>
            </div>

        </div>
        
      

          <!-- Remove contact Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title text-white" id="exampleModalCenterTitle">
                            <i class="fas fa-exclamation-triangle mr-2"></i>
                            Remove item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove project named <b>"{{ '{{ project_item_delete.project_name }}' }}"</b> ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                            <i class="fas fa-times-circle text-small mr-1"></i>Cancel</button>
                        <button type="button" class="btn btn-danger" v-on:click="delOne()">
                            <i class="far fa-trash-alt text-small mr-1"></i>Remove</button>
                    </div>
                </div>
            </div>
        </div>
 

    </div>

{% endblock %}

{% block custom_scripts %}
 

    <!-- chart -->
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha512-vBmx0N/uQOXznm/Nbkp7h0P1RfLSj0HQrFSzV8m7rOGyj30fYAOKHYvCNez+yM8IrfnW0TCodDEjRqf6fodf/Q==" crossorigin="anonymous"></script> #}
    <script src='/assets/components/chartjs/Chart.bundle.min.js'></script>
    
        
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/assets/js/vue/finances/planning/projects.js"></script>

    <script src="/assets/components/toastr/toastr.min.js"></script>   
    
   
    <script type="application/javascript">       

        $(function () {
            // tooltips
           // $('[data-toggle="tooltip"]').tooltip();

        })
    </script>
{% endblock %}