{% extends "Shared/_layout.twig" %}

{% block title %} Contacts {% endblock %}

{% block header_scripts %}
    {# <link href="/assets/components/toastr/toastr.min.css"  rel="stylesheet"> #}
 {% endblock %}



{% block body %}
<!-- side nav menu -->
{# {% include '/Contacts/_sidenav.twig' %} #}
{{ include('Contacts/_sidenav.twig') }}

<!-- page content -->
<div class="container-fluid">
    <div class="pt-4" id="contacts" v-cloak>

        <div class="row mb-2">
            <div class="col-12 border-bottom">
                <h2 class="text-dark mb-4">Contacts
                    {# <a href="/contacts/add">
                        <i class="far fa-plus-square btn-sm text-success ml-1 align-middle"
                           data-toggle="tooltip" data-placement="top" title="Add contact"></i>
                    </a>                  #}
                </h2>                               
            </div>

            <div class="col-12" v-if="alert.success">
                <div id="success-alert" class="alert alert-success shadow-sm" role="alert" >
                    <i class="far fa-check-circle fa-2x mr-2 align-middle"></i>
                    {{ '{{ alert.message }}' }}
                </div>
            </div>

            <div class="col-12" v-if="alert.error">
                <div id="error-alert" class="alert alert-danger shadow-sm" role="alert">
                    <i class="fas fa-times-circle fa-2x mr-2 align-middle"></i>
                    {{ '{{ alert.message }}' }}
                </div>
            </div>
        </div>
       
        <div class="row">           

            <div class="col-12">
                 <div class="callout callout-info">                                
                   <i class="fas fa-info-circle fa-2x mr-2 align-middle"></i>
                  This page contains contact information of people and organization for quick access.
                </div>
            </div>


            <div class="col-sm-2 mt-3" v-for="(item, index) in contacts">               
                <!-- contact cards -->
                <div class="card h-100 w-100 text-white bg-secondary mb-3 shadow-sm">
                    <div class="card-body">
                        <b class="card-title text-small" style="font-size: 15px;">{{ "{{ item.name }}" }}</b>                     
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-white bg-secondary"></li>
                            <li class="list-group-item text-white bg-secondary">
                                <a v-bind:href="item.link" target="_blank" style="color: #ffffff;">
                                    {{ "{{ item.address }}, {{ item.city }} , {{ item.province }}, {{ item.country }}, {{ item.postal }}" }}
                                </a>
                            </li>
                            <li class="list-group-item text-white bg-secondary">{{ "{{ item.phone }}" }}</li>                                                                         
                        </ul>
                        <div class="mt-3">
                             <a href="#" class="float-right mr-0">
                                <i class="far fa-trash-alt text-small text-danger float-right mr-0" data-toggle="tooltip" data-placement="top" title="Remove contact"
                                v-on:click="deleteContacModal(index)"></i>
                            </a>                               
                             <a v-bind:href="'/contacts/update/' + item.id">
                                    <i class="far fa-edit text-small text-warning float-right mr-1" data-toggle="tooltip" data-placement="top" title="Edit contact"></i>
                            </a>     
                              <a v-bind:href="'/contacts/view/' + item.id">
                                    <i class="far fa-eye text-small text-info float-right mr-1" data-toggle="tooltip" data-placement="top" title="View information"></i>
                            </a>                                              
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Remove contact Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title text-white" id="exampleModalCenterTitle">
                            <i class="fas fa-exclamation-triangle mr-2"></i>
                            Remove contact "<b> {{ '{{ contact_delete.name }}' }} </b>"</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove contact named <b>"{{ '{{ contact_delete.name }}' }}"</b> ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                            <i class="fas fa-times-circle text-small mr-1"></i>Cancel</button>
                        <button type="button" class="btn btn-danger" v-on:click="deleteContact()">
                            <i class="far fa-trash-alt text-small mr-1"></i>Remove</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block custom_scripts %}

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {# <script src="/assets/components/toastr/toastr.min.js"></script> #}

    <script src="/assets/js/vue/contacts/index.js"></script>

    <script type="application/javascript">
        $(function () {
            // tooltips
            $('[data-toggle="tooltip"]').tooltip();

            //remove contact modal
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            });
        })
    </script>
{% endblock %}