{% extends "Shared/_layout.twig" %}

{% block title %} Medication {% endblock %}

{% block header_scripts %}
    {# <link href="/assets/toastr/toastr.min.css"  rel="stylesheet"> #}
 {% endblock %}

{% block body %}

<!-- side nav menu -->
{# {% include '/Medication/_sidenav.twig' %} #}
{{ include('Medication/_sidenav.twig') }}

<!-- page content -->
<div class="container-fluid">    

    <div class="pt-4" id="medication" v-cloak>      

         <!-- csrf protection -->
        <input type="hidden" name="csrf" id="csrf" value="{{ csrf }}">

        <div class="row mb-2 border-bottom">
            <div class="col-10">
                <h2 class="text-dark mb-1">Medication               
                     <a href="/medication/add">
                        <i class="far fa-plus-square btn-sm text-success align-middle"
                           data-toggle="tooltip" data-placement="top" title="Add medication"></i>
                    </a>                 
                </h2>            
            </div> 

            <!-- Search box -->
            <div class="form-group has-search col-2 float-right">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="search" class="form-control"  placeholder="Search" v-model="search_term" v-on:keyup="goSearch()">
            </div>          
        </div>               

        <div class="w-100"></div>

        <div class="row">
            <!-- list of medication items -->
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12 m-2 p-0" v-for="(item, index) in meds">            
                <div class="card h-100 w-100">
                    <h5 class="card-header  bg-dark text-white">
                        <i class="fas fa-pills me-2"></i>
                        {{ "{{ item.name }}" }}                                  
                        <a href="#" class="float-right pe-1 ms-2">
                            <i class="far fa-trash-alt text-small text-danger" data-toggle="tooltip" data-placement="top" title="Remove medication"
                                v-on:click="deleteMedicationModal(index)"></i>
                        </a>                               
                        <a v-bind:href="'/medication/update/' + item.id" class="float-right ps-0">
                            <i class="far fa-edit text-small text-warning" data-toggle="tooltip" data-placement="top" title="Edit medication"></i>
                        </a>                                   
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <img v-bind:src='"https://picsum.photos/96/96?random=" + index' class="me-3 mt-1 ms-2 mb-3 medication_image" alt="..." v-if="item.img == null">                
                                <img v-bind:src='item.img' class="me-3 mt-1 ms-2 mb-3" alt="..." v-else-if="item.img !== null" style="height:96px; width:96px;">    
                                <select class="form-control-sm float-right ms-2" id="viewoption" v-model="item.selected">
                                    <option>Description</option>
                                    <option>Instructions</option>                    
                                </select>           
                            </div>
                            <div class="col-8">
                                <p class="pt-1 me-3" v-if="item.selected == 'Description'" v-html="item.desc"></p>      
                                <p class="pt-1 me-3" v-if="item.selected == 'Instructions'" v-html="item.instruction"></p>        
                            </div>               
                        </div>
                        
                    </div>
                </div>     
            </div>  
        </div>

        
       
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title text-white" id="exampleModalCenterTitle">
                            <i class="fas fa-exclamation-triangle me-2"></i>
                            Remove "<b> {{ '{{ medication.name }}' }} </b>" Medication</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="deleteMedicationModalHide">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove medication named <b>"{{ '{{ medication.name }}' }}"</b> ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal" v-on:click="deleteMedicationModalHide">
                            <i class="fas fa-times-circle text-small me-1"></i>Cancel</button>
                        <button type="button" class="btn btn-danger" v-on:click="deleteMedication()">
                            <i class="far fa-trash-alt text-small me-1"></i>Remove</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block custom_scripts %}

    <script src="/assets/components/toastr/toastr.min.js"></script>

    <script src="/assets/js/vue/medication/index.js"></script>

     <script type="application/javascript">
        $(function () {
            // tooltips
            $('[data-toggle="tooltip"]').tooltip();

        });
    </script>
{% endblock %}