{% extends "Shared/_layout.twig" %}

{% block title %} Medication {% endblock %}

{% block body %}
    

    <div class="container" id="medication" v-cloak>      

        <div class="row mb-2">
            <div class="col-12">
                <h2 class="text-dark mb-4">Medication
                    <a href="/medication/add">
                        <i class="far fa-plus-square btn-sm text-success ml-1 align-middle"
                           data-toggle="tooltip" data-placement="top" title="Add medication"></i>
                    </a>
                 
                </h2>            

                 <div class="callout callout-info">
                    <i class="fas fa-info-circle fa-2x mr-2 align-middle"></i>
                    This page contains medication information and usage instructions.
                </div>
            </div>

            <div class="col-12" v-if="alert.success">
                <div id="success-alert" class="alert alert-success" role="alert" >
                    <i class="far fa-check-circle fa-2x mr-2 align-middle"></i>
                    {{ '{{ alert.message }}' }}
                </div>
            </div>

            <div class="col-12" v-if="alert.error">
                <div id="error-alert" class="alert alert-danger" role="alert">
                    <i class="fas fa-times-circle fa-2x mr-2 align-middle"></i>
                    {{ '{{ alert.message }}' }}
                </div>
            </div>
        </div>
       
       
       {# <div class="row">
            <div class="col form-group d-flex justify-content-end">
                <input type="text" id="search" class="col-2" placeholder="type to search..." />
            </div>
       </div> #}


        <ul class="list-unstyled">
            <li class="media mt-4 bg-white border" v-for="(item, index) in meds">                
                <img v-bind:src='"https://picsum.photos/96/96?random=" + index' class="mr-3 mt-2 ml-2 mb-3" alt="..." v-if="item.img == null">                
                <img v-bind:src='item.img' class="mr-3 mt-2 ml-2 mb-3" alt="..." v-else-if="item.img !== null" style="height:96px; width:96px;">               
                <div class="media-body ml-2">
                    <h4 class="mt-2 mb-2">
                        {{ "{{ item.name }}" }}
                                                
                        <a href="#" class="float-right mr-2 btn-sm text-small">
                            <i class="far fa-trash-alt text-danger" data-toggle="tooltip" data-placement="top" title="Remove medication"
                                v-on:click="deleteContacModal(index)"></i>
                        </a>                               
                        <a v-bind:href="'/medication/update/' + item.id" class="float-right btn-sm text-small pr-0">
                            <i class="far fa-edit text-warning" data-toggle="tooltip" data-placement="top" title="Edit medication"></i>
                        </a>                                                                               
                    </h4>                  
                    <hr  class="mt-0 mb-0" />
                    <p class="mt-1"> {{ "{{ item.desc }}" }}</p>                    
                </div> 
            </li>           
        </ul>


        <!-- medication information Modal -->
        <div class="modal fade" id="info_modal" tabindex="-1" data-backdrop="static" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
        </div>
        {# <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            <i class="fas fa-exclamation-triangle mr-2"></i>
                            Remove "<b> {{ '{{ contact_delete.name }}' }} </b>" Contact</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove contact named <b>"{{ '{{ contact_delete.name }}' }}"</b> ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                            <i class="fas fa-times-circle text-small mr-1"></i>Cancel</button>
                        <button type="button" class="btn btn-danger" v-on:click="deleteContact()">
                            <i class="far fa-trash-alt text-small mr-1"></i>Remove</button>
                    </div>
                </div>
            </div>
        </div> #}

    </div>

{% endblock %}

{% block custom_scripts %}

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="/assets/js/vue/medication/index.js"></script>

     <script type="application/javascript">
        $(function () {
            // tooltips
            $('[data-toggle="tooltip"]').tooltip();

        })
    </script>
{% endblock %}