{% extends "Shared/_layout.twig" %}

{% block title %} Medication {% endblock %}

{% block body %}
    <div class="container" id="medication">

        <div class="row">
            <div class="col-sm-3" v-for="item in meds">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ "{{ item.name }}" }}</h5>
                        <p class="card-text">{{ "{{ item.desc }}" }}</p>
                        <a href="#" class="btn btn-primary">More Info...</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


     <div class="container" id="medication" v-cloak>

        <div class="row mb-2">
            <div class="col-12">
                <h2 class="text-dark mb-4">Medication
                    <a href="/medication/add">
                        <i class="far fa-plus-square btn-sm text-success ml-1 align-middle"
                           data-toggle="tooltip" data-placement="top" title="Add medication"></i>
                    </a>
                 
                </h2>
                <div class="alert alert-info">
                    <i class="fas fa-info-circle fa-2x mr-2 align-middle"></i>
                    This page contains medication information and usage instructions.
                </div>
            </div>

            <div class="col-12" v-if="alert.success">
                <div id="success-alert" class="alert alert-success" role="alert" >
                    <i class="far fa-check-circle fa-2x mr-2 align-middle"></i>
                    {{ '{{ alert.message }}' }}
                </div>
            </div>

            <div class="col-12" v-if="alert.error">
                <div id="error-alert" class="alert alert-danger" role="alert">
                    <i class="fas fa-times-circle fa-2x mr-2 align-middle"></i>
                    {{ '{{ alert.message }}' }}
                </div>
            </div>
        </div>
       
        <div class="row">           
            <div class="col-sm-3 mt-3" v-for="(item, index) in contacts">
                <div class="card h-100 w-100 text-white bg-secondary mb-3">
                    <div class="card-body">
                        <b class="card-title text-small" style="font-size: 15px;">{{ "{{ item.name }}" }}</b>                       
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-white bg-secondary"></li>
                            <li class="list-group-item text-white bg-secondary">
                                <a v-bind:href="item.link" target="_blank" style="color: #ffffff;">
                                    {{ "{{ item.address }}, {{ item.city }} , {{ item.province }}, {{ item.country }}, {{ item.postal }}" }}
                                </a>
                            </li>
                            <li class="list-group-item text-white bg-secondary">{{ "{{ item.phone }}" }}</li>                                                                        
                        </ul>
                        <div class="mt-3">
                             <a href="#" class="float-right mr-0">
                                <i class="far fa-trash-alt text-small text-danger float-right mr-0" data-toggle="tooltip" data-placement="top" title="Remove contact"
                                v-on:click="deleteContacModal(index)"></i>
                            </a>                               
                             <a v-bind:href="'/contacts/update/' + item.id">
                                    <i class="far fa-edit text-small text-warning float-right mr-1" data-toggle="tooltip" data-placement="top" title="Edit contact"></i>
                            </a>     
                              <a v-bind:href="'/contacts/view/' + item.id">
                                    <i class="far fa-eye text-small text-info float-right mr-1" data-toggle="tooltip" data-placement="top" title="View information"></i>
                            </a>                                              
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Remove contact Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            <i class="fas fa-exclamation-triangle mr-2"></i>
                            Remove "<b> {{ '{{ contact_delete.name }}' }} </b>" Contact</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove contact named <b>"{{ '{{ contact_delete.name }}' }}"</b> ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                            <i class="fas fa-times-circle text-small mr-1"></i>Cancel</button>
                        <button type="button" class="btn btn-danger" v-on:click="deleteContact()">
                            <i class="far fa-trash-alt text-small mr-1"></i>Remove</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block custom_scripts %}

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="/assets/js/vue/medication/index.js"></script>
{% endblock %}