{% extends "Shared/_layout.twig" %}

{% block title %} Feed Requirements {% endblock %}

{% block header_scripts %}
    <link href="/assets/components/toastr/toastr.min.css"  rel="stylesheet">
 {% endblock %}


{% block body %}

<!-- side nav menu -->
{# {% include '/Medication/_sidenav.twig' %} #}
{{ include('Ration/_sidenav.twig') }}    
    
<div class="container-fluid" id="ration">             

    <!-- page name and usage instructions -->
    <div class="row g-0 mt-5 border-bottom">
        <div class="col-10">          
            <h2 class="text-dark">Ration Requirements</h2>                
        </div>
        <!-- feed requirements per weight -->      
        <div class="col-1">
            <select class="form-select w-100 rounded-0 form-select-sm shadow-sm" aria-label="Select group" v-model="group_selected">
                <option value=""></option>
                {# <option v-for="item in livestock_groups" v-bind:value="item.group_name">
                    {{ '{{ item.group_name }}' }}
                </option>             #}
            </select>
        </div>
        <!-- animal selection -->
        <div class="col-1">
            <select class="form-select w-100 rounded-0 form-select-sm shadow-sm" aria-label="Select group" v-model="group_selected">
                <option value=""></option>
                {# <option v-for="item in livestock_groups" v-bind:value="item.group_name">
                    {{ '{{ item.group_name }}' }}
                </option>             #}
            </select>
        </div>
    </div>           
  

    <!-- table to display information -->
    <div class="row mt-4">
        <div class="col-12">          
            <table class="table table-striped bg-white">
                <thead>
                    <tr>
                        <th scope="col" >Weight</th>
                        <th scope="col">Animal Type</th>
                        <th scope="col">Average Daily Gain</th>
                        <th scope="col">CP %</th>
                        <th scope="col">TDN %</th>
                        <th scope="col">Dry Matter Per Day</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in requirements %}
                         <tr>
                            <td>{{ item.weight }}</td>
                            <td>{{ item.animal_type }}</td>
                            <td>{{ item.adg }}</td>
                            <td>{{ item.cp }}</td>
                            <td>{{ item.tdn }}</td>
                            <td>{{ item.dm_per_day }}</td>
                        </tr>
                    {% endfor %}                
                </tbody>
            </table>
        </div>
    </div>    
</div>

{% endblock %}

{% block custom_scripts %}   

     <script type="application/javascript">
        $(function () {          

        });
    </script>
{% endblock %}